@model DevChallenge.Models.Title
@{
	ViewBag.Title = "Details";
}
<table style="width: 75%; outline: black solid 1px; margin-left: 10px; text-align:left;">
	<tr>
		<td colspan="2">
			<h1>
				@(Model.TitleName + " (" + Model.ReleaseYear + ")")
			</h1>
		</td>
	</tr>
	<tr>
		<td>
			<img src="../../Content/Images/placeholder2.jpg" />
		</td>
		<td>
			@foreach (var genre in Model.TitleGenres)
				{
					@( " [" + genre.Genre.Name + "]")
				}
		</td>
	</tr>
	<tr>
		<td>
			Awards
		</td>
		<td>
				@foreach (var award in Model.Awards)
				{
					@(award.Award1 + "(" + award.AwardYear + "), ")
				}
		</td>
	</tr>
	<tr>
		<td>Crew</td>
		<td>
			@foreach (var tp in Model.TitleParticipants.OrderByDescending(p=>p.Participant.ParticipantType).Take(15))
				{
							@tp.Participant.Name
				}
				@if(Model.TitleParticipants.OrderByDescending(p=>p.Participant.ParticipantType).Count() > 15)
	{
					@Html.ActionLink("[ More Info ]", "CrewMembers", new { id = Model.TitleId })
		}
		</td>
	</tr>
</table>
